<div class="<%= ['zn-row', ...(data.modifiers || [])].join(' ')%>">
  <div class="zn-title zn-row-elm-title">Test <%= data.label %>
    <%= data.title %>
  </div>
  <div>
    <%= data.body%>
  </div>
</div>

