.zn-button {
  display: inline-block;
  background: #3498db;
  padding: 20px;
  border: solid 1px #2980b9;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #2980b9;
  }

  & > .zn-button-elm-title {
    font-weight: 100;
    color: #fff;
  }

  &.zn-primary {
    background: #1abc9c;
    border-color: #16a085;

    &:hover {
      background: #2980b9;
      background: #16a085;
    }

    & .zn-button-elm-title {
      font-weight: 600;
    }
  }
}
